/* Variáveis Globais*/

:root {
    /* Cores */
    --color-primary: #00A6AC;
    --color-secondary: #00888d;
    --color-background: #FFFFFF; 
    --color-text-dark: #333333;
    --color-text-light: #FFFFFF;
    --color-input-bg: #F3EDF7 ; 

    /* Tipografia */
    --font-primary: 'Arial', sans-serif; 
    --font-size-base: 1rem;
    --font-weight-bold: 700;
    --font-weight-medium: 500;

    /* Espaçamento (Mobile First) */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;

    /* Bordas e Sombras */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
}